<h1>Atualizar Livro</h1>
<div>
    <form action=""></form>
 <input type="titulo do livro" placeholder=" nome do livro">
</div>
<div>
<label for="title">titulo:</label>
<input type="categoria do livro" placeholder=" categoria ">
</div>
<div>
<input type="descriçao do livro" placeholder="digite a descriçao do livro">
</div>
<div>

<input type="preço do livro" placeholder="50,00">
</div>
<div>

<input type="quantidade disponivel" placeholder="60">