<h1>Cadastrar Livro</h1>
<div>
 <input type="titulo do livro" placeholder="digite o nome do livro">
</div>
<div>
<label for="title">titulo:</label>
<input type="categoria do livro" placeholder="digite a categoria do livro">
</div>
<div>
<input type="descriçao do livro" placeholder="digite a descriçao do livro">
</div>
<div>

<input type="preço do livro" placeholder="50,00">
</div>
<div>

<input type="quantidade disponivel" placeholder="60">